Flask==0.10.1
requests==2.3.0
Werkzeug==0.9.6
Flask-Script==2.0.5
Flask-Babel==0.9
Flask-RESTful==0.2.12
Flask-Menu==0.1.0
Flask-breadcrumbs==0.1.0
Flask-Mail==0.9.1
Flask-Migrate
wheel==0.24.0
flask-wtf
